[submodule "_libs/pandora_toolbox"]
	path = _libs/pandora_toolbox
	url = https://github.com/vinders/pandora_toolbox
[submodule "_libs/gtest"]
	path = _libs/gtest
	url = https://github.com/google/googletest
